// Primary Color
$primaryColorDark900: #4c1d95;
$primaryColorDark800: #5b21b6;
$primaryColorDark700: #6d28d9;
$primaryColorDark600: #7c3aed;
$primaryColorDefault: #8b5cf6;
$primaryColorLight400: #a78bfa;
$primaryColorLight300: #c4b5fd;
$primaryColorLight200: #ddd6fe;
$primaryColorLight100: #ede9fe;
// Secondary Color
$secondaryColorDark900: #040815;
$secondaryColorDark800: #080c19;
$secondaryColorDark700: #0d121f;
$secondaryColorDark600: #131825;
$secondaryColorDefault: #1a202c;
$secondaryColorLight400: #596780;
$secondaryColorLight300: #90a3bf;
$secondaryColorLight200: #c3d4e9;
$secondaryColorLight100: #e0e9f4;
// Neutral Color
$neutralColorWhite: #ffffff;
$neutralColorGray1: #f2f2f2;
$neutralColorGray2: #ededed;
$neutralColorGray3: #cbcbcb;
$neutralColorGray4: #74787c;
$neutralColorBlack: #171f26;
// Error Color
$errorColorDark900: #831843;
$errorColorDark800: #9d174d;
$errorColorDark700: #be185d;
$errorColorDark600: #db2777;
$errorColorDefault: #ec4899;
$errorColorLight400: #f472b6;
$errorColorLight300: #f9a8d4;
$errorColorLight200: #fbcfe8;
$errorColorLight100: #fce7f3;
// Success Color
$successColorDark900: #3b6506;
$successColorDark800: #4c7a0b;
$successColorDark700: #659711;
$successColorDark600: #7fb519;
$successColorDefault: #9cd323;
$successColorLight400: #bce455;
$successColorLight300: #d3f178;
$successColorLight200: #e8faa6;
$successColorLight100: #f5fcd2;
// Warning Color
$warningColorDark900: #7a4d0b;
$warningColorDark800: #936312;
$warningColorDark700: #b7821d;
$warningColorDark600: #dba32a;
$warningColorDefault: #ffc73a;
$warningColorLight400: #ffd96b;
$warningColorLight300: #ffe488;
$warningColorLight200: #ffefb0;
$warningColorLight100: #fff8d7;
// Information Color
$informationColorDark900: #102e7a;
$informationColorDark800: #1a4393;
$informationColorDark700: #2a60b7;
$informationColorDark600: #3d81db;
$informationColorDefault: #54a6ff;
$informationColorLight400: #7ec2ff;
$informationColorLight300: #98d3ff;
$informationColorLight200: #bae5ff;
$informationColorLight100: #dcf3ff;
/* Other Color */
$bodyColor: #f6f7f9;
//* Fonts
// Fonts Family
$primaryFont: "Plus Jakarta Sans";
// Font Size
$fontSizeXS: 12px;
$fontSizeSM: 14px;
$fontSizeMD: 16px;
$fontSizeLG: 18px;
$fontSizeXL: 20px;
// Border Radius
$primaryRadius: 0.6rem;
